:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --warm-black-two: #201e1c;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
  --grey-font: #b5b0ac;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  color: var(--just-white);
}

header img.header__logo {
  width: 150px;
  height: 24px;
  margin-top: 40px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 250px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
}

.header__title-container h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.header__title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 125px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 250px;
  height: 48px;
  background: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header__title-container a.header__button {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--warm-black);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}
.main__exchange__container {
  width: 90%;
  min-width: 250px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 64px;
  text-align: center;
}

.main__exchange__container h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: #ff9536;
}

.background__imageContainer {
  display: inline-block;
  min-width: 200px;
  min-height: 200px;
  background: url("./assets/img/Bitcoin.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main__exchange__container--title {
  width: 90%;
  min-width: 250px;
  max-width: 900px;
  margin: 0 auto;
}

.main__exchange__container--title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--warm-black);
}

.main__exchange__container--title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  color: var(--grey-font);
}

.main__tables__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 250px;
  background: var(--just-white);
  border-radius: 8px;
  margin-top: 10px;
}

.main__tables__container--column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 10px 12px;
}

.main__tables__container--row--name {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}
.main__tables__container--row--name p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--grey-font);
}

.main__tables__container--row--price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}

.main__tables__container--row--price p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #757575;
}

.main__tables__container--row--price .trending-up {
  background: url(./assets/icons/trending-up.svg);
  width: 12px;
  height: 12px;
}

.main__tables__container--row--price .trending-down {
  background: url(./assets/icons/trending-down.svg);
  width: 12px;
  height: 12px;
}

.main__tables__container--update {
  margin: 0 auto;
  max-width: 180px;
  border-radius: 8px;
  margin-top: 15px;
  background: var(--soft-orange);
}

.main__tables__container--update--row {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 12px;
}

.main__tables__container--update--row p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.main__tables__container--update--row span {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/* .table-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.table-scroll div {
  flex: 0 0 auto;
  width: 180px;
  margin: 20px;
  padding: 20px;
  background: var(--soft-orange);
} */

.main-product-detail {
  background: var(--warm-black-two);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-product-detail__icon {
  display: inline-block;
  background: url(./assets/icons/batata.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 41px;
  height: 24px;
  margin-top: -12px;
}

.main-product-detail__title {
  width: 90%;
  min-width: 250px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 30px;
  color: var(--just-white);
}

.main-product-detail__title h2 {
  margin-bottom: 24px;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-product-detail__title p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--grey-font);
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 34px;
  text-align: center;
}

.product-card__detalle {
  width: 90%;
  min-width: 250px;
  max-width: 900px;
  margin-bottom: 20px;
  background: var(--warm-black);
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-card__icono {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.clock {
  background: url(./assets/icons/clock.svg);
}
.eyes {
  background: url(./assets/icons/eye.svg);
}
.dollar {
  background: url(./assets/icons/dollar-sign.svg);
}
.check {
  background: url(./assets/icons/check-circle.svg);
}

.product-card__title {
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.8rem;

  color: var(--just-white);
}
.product-card__body {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--grey-font);
}

section.bitcoin-img {
  background: url(./assets/img/bitcoinbaby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
}

section.bitcoin-img h2 {
  padding-top: 64px;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}
